@font-face {
    font-family: 'DigimonBasic';
    src: url('../fonts/DigimonBasic.ttf') format('truetype');
}

* {
    background-color: brown;
}

#logo {
    font-family: 'DigimonBasic', sans-serif;
    font-style: italic;
    font-size: 75px;
    position: absolute;
    top: -4%;
    left:50%;
    transform: translate(-50%);
    color: yellow;
    text-shadow: 
        -6px -6px 0 black,
         6px -6px 0 black,
        -6px  6px 0 black,
         6px  6px 0 black;
}

#image-l {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -40%);
}

#image-r {
    position: absolute;
    top: 50%;
    left:30%;
    transform: translate(-50%, -40%);
}