@font-face {
    font-family: 'Thug';
    src: url('./font/Thug-G3aa.ttf');
}

body {
    font-family: Thug;
}

h1 {
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

button {
    font-family: 'Thug';
    font-size: 45px;
}

span {
    font-size: 50px;
}

.entry {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
    height: 70px;
    font-size: 30px;
}

#messageContainer {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: green;
}

#wordBox {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buttonBox {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

#entry {
    text-align: center;
    width:70px;
}